global:
  scrape_interval: 1m
  scrape_timeout: 30s
  evaluation_interval: 1m
alerting:
   alertmanagers:
      - scheme: http
        static_configs:
        - targets:
          - "monitoring-backend-alertmanager01-001:9093"
rule_files:
  - /mnt/prometheus/rules-prometheus.yaml
remote_write:
  #- url: "http://monitoring-mimir-01-001:8080/api/v1/push"
  - url: "http://victoria-metrics-cluster-vminsert:8480/insert/0/prometheus/api/v1/write"

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
    - targets:
        - "monitoring-backend-prometheus-db01-001:9090"
  - job_name: 'kubernetes-nodes'
    kubernetes_sd_configs:
    - role: node
    scheme: https
    tls_config:
      ca_file: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
      insecure_skip_verify: true
    bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
  - job_name: 'loki-read-service'
    kubernetes_sd_configs:
      - role: service
    relabel_configs:
      - source_labels: [__meta_kubernetes_service_name, __meta_kubernetes_namespace]
        action: keep
        regex: monitoring-frontend-loki-read01-001;monitoring
  - job_name: 'loki-write-service'
    kubernetes_sd_configs:
      - role: service
    relabel_configs:
      - source_labels: [__meta_kubernetes_service_name, __meta_kubernetes_namespace]
        action: keep
        regex: monitoring-frontend-loki-write01-001;monitoring
  - job_name: 'loki-backend-service'
    kubernetes_sd_configs:
      - role: service
    relabel_configs:
      - source_labels: [__meta_kubernetes_service_name, __meta_kubernetes_namespace]
        action: keep
        regex: monitoring-frontend-loki-backend01-001;monitoring
  - job_name: kube-state-metrics
    honor_timestamps: true
    metrics_path: /metrics
    scheme: http
    static_configs:
    - targets:
      - kube-state-metrics.monitoring.svc.cluster.local:8080
  - job_name: 'cadvisor'
    kubernetes_sd_configs:
    - role: node
    scheme: https
    tls_config:
      ca_file: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
      insecure_skip_verify: true
    bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
    metrics_path: /metrics/cadvisor
  - job_name: 'node-exporter'
    metrics_path: '/metrics'
    static_configs:
      - targets:
        - node1:9100
        - node2:9100
        - node3:9100
        - node4:9100
        - node5:9100
        - node6:9100
        - node7:9100
        - node8:9100
        - 192.168.1.31:9100
    relabel_configs:
    - source_labels: [__address__]
      regex: '(.*):9100'
      target_label: instance
      replacement: '$1'
  - job_name: 'temperature-exporter'
    metrics_path: '/metrics'
    static_configs:
      - targets:
        - node1:8000
        - node2:8000
        - node3:8000
        - node4:8000
        - node5:8000
        - node6:8000
        - node7:8000
        - node8:8000
    relabel_configs:
    - source_labels: [__address__]
      regex: '(.*):8000'
      target_label: instance
      replacement: '$1'
  - job_name: 'exchangerate-exporter'
    metrics_path: '/metrics'
    static_configs:
      - targets:
        - exchangerate-exporter.exchangerate-exporter.svc.cluster.local:9110
  - job_name: 'blackbox-exporter'
    metrics_path: /probe
    params:
      module: [http_2xx]
    static_configs:
      - targets:
        - https://www.aimhighergg.com/
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: "monitoring-backend-blackbox-exporter01-001:9115"
  - job_name: haproxy
    metrics_path: /metrics
    static_configs:
      - targets:
          - 192.168.1.32:8405
    basic_auth:
      username: <path:secret/data/gateway/haproxy#user>
      password: <path:secret/data/gateway/haproxy#password>
